@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,500,700|Roboto:400,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", "sans-serif";
}

font-montserrat {
  font-family: "Monteserrat", "sans-serif";
}

font-raleway {
  font-family: "Raleway", "sans-serif";
}
